<section id="about" class="page-section animate-scroll">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2 class="section-heading mb-4 animated-heading">About Me</h2>
            <p class="lead animate-scroll">
                Hi, I'm <strong>Muhammad Souman</strong>, though most people know me by my nickname <strong>"Somy"</strong>. Driven by a passion for designing clean, intuitive, and functional user interfaces, my journey into web development has been both
                creative and rewarding. Over the past <strong>4 years</strong>, I have built expertise in <strong>HTML, CSS, JavaScript, and Bootstrap</strong>, transforming ideas into seamless and engaging digital experiences.
            </p>
            <p class="lead animate-scroll">
                Recently, I've expanded my expertise into <strong>Full-Stack Development</strong>, working with <strong>Python and Flask</strong> to design and build robust backend systems that bring projects to life from start to finish. I enjoy problem-solving,
                experimenting with new technologies, and continuously pushing myself to learn and grow.
            </p>

            <p class="mb-5 lead animate-scroll">
                Academically, I am pursuing a <strong>Bachelor of Science in Artificial Intelligence</strong> at the <strong>National University of Modern Languages (NUML), Islamabad</strong>. Currently in my 6th semester, I maintain a CGPA of
                <strong>3.73</strong>. My AI background strengthens my approach to development, blending creativity with analytical problem-solving.
            </p>
            <div class="row text-center">
                <div class="col-md-4 mb-4 animate-scroll">
                    <i class="fa-solid fa-code fa-3x text-primary-custom mb-3"></i>
                    <h4>Frontend Skills</h4>
                    <p>HTML, CSS, JavaScript, Bootstrap</p>
                </div>
                <div class="col-md-4 mb-4 animate-scroll">
                    <i class="fa-solid fa-server fa-3x text-primary-custom mb-3"></i>
                    <h4>Full Stack Skills</h4>
                    <p>Python, Flask, Databases (SQL),Authentication, APIs</p>
                </div>
                <div class="col-md-4 mb-4 animate-scroll">
                    <i class="fa-solid fa-brain fa-3x text-primary-custom mb-3"></i>
                    <h4>Other Skills</h4>
                    <p>Git, UI/UX, Problem Solving, Project Management</p>
                </div>
            </div>
        </div>
    </div>
</section>