<div class="collapse-container collapse" id="aiProjects">
    <div class="row g-4 pt-3">
        <div class="col-12 animate-scroll">
            <div class="card card-custom h-100">
                <img src="{{ url_for('static', filename='assets/imgs/cartoon-emotion-detection.png') }}" class="card-img-top" alt="Tom and Jerry Emotion Detection">
                <div class="card-body">
                    <h5 class="card-title">Tom and Jerry Emotion Detection ANN Model</h5>
                    <p class="card-text">An AI-based application using Artificial Neural Networks (ANNs) and PyTorch to classify emotions from cartoon face images, showcasing skills in computer vision and transfer learning.</p>
                    <hr>
                    <h6>Technologies Used:</h6>
                    <p class="card-text">
                        <span class="badge">Python</span>
                        <span class="badge">PyTorch</span>
                        <span class="badge">ANN</span>
                        <span class="badge">MobileNetV2</span>
                        <span class="badge">Flask</span>
                        <span class="badge">HTML5</span>
                        <span class="badge">CSS3</span>
                        <span class="badge">JavaScript</span>
                        <span class="badge">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer-custom">
                    <a href="https://github.com/muhammadsouman7/Tom-and-Jerry-Emotion-Detection-ANN-Model" target="_blank" class="btn btn-project w-100">View Project Files <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>