<div class="collapse-container collapse" id="frontendProjects">
    <div class="row g-4 pt-3">
        <div class="col-12 animate-scroll">
            <div class="card card-custom h-100">
                <img src="{{ url_for('static', filename='assets/imgs/neon-login-form.png') }}" class="card-img-top" alt="Neon Login Form">
                <div class="card-body">
                    <h5 class="card-title">Neon Login Form</h5>
                    <p class="card-text">A trending login form with an animated neon background that rotates to reveal a signup form.</p>
                    <hr>
                    <h6>Technologies Used:</h6>
                    <p class="card-text">
                        <span class="badge">HTML5</span>
                        <span class="badge">CSS3</span>
                        <span class="badge">JavaScript</span>
                        <span class="badge">jQuery</span>
                        <span class="badge">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer-custom">
                    <a href="https://muhammadsouman7.github.io/neon-login-form/" target="_blank" class="btn btn-project w-100">View Project <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 animate-scroll">
            <div class="card card-custom h-100">
                <img src="{{ url_for('static', filename='assets/imgs/panda-login-form.png') }}" class="card-img-top" alt="Panda Login Form">
                <div class="card-body">
                    <h5 class="card-title">Panda Login Form</h5>
                    <p class="card-text">An interactive login form where a panda covers its eyes when the user types in the password field.</p>
                    <hr>
                    <h6>Technologies Used:</h6>
                    <p class="card-text">
                        <span class="badge">HTML5</span>
                        <span class="badge">CSS3</span>
                        <span class="badge">JavaScript</span>
                        <span class="badge">jQuery</span>
                        <span class="badge">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer-custom">
                    <a href="https://muhammadsouman7.github.io/panda-login-form/" target="_blank" class="btn btn-project w-100">View Project <i class="fa-solid fa-arrow-right-long "></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 animate-scroll">
            <div class="card card-custom h-100">
                <img src="{{ url_for('static', filename='assets/imgs/tirmazi-motors.png') }}" class="card-img-top" alt="Tirmazi Motors">
                <div class="card-body ">
                    <h5 class="card-title">Tirmazi Motors</h5>
                    <p class="card-text">A static, responsive website for a car rental service, developed as a university course project to showcase vehicles and packages.</p>
                    <hr>
                    <h6>Technologies Used:</h6>
                    <p class="card-text">
                        <span class="badge">HTML5</span>
                        <span class="badge">CSS3</span>
                        <span class="badge">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer-custom">
                    <a href="https://muhammadsouman7.github.io/tirmazi-motors/" target="_blank" class="btn btn-project w-100">View Project <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 animate-scroll">
            <div class="card card-custom h-100">
                <img src="{{ url_for('static', filename='assets/imgs/newaims-home.png') }}" class="card-img-top" alt="NewAims Pharmaceuticals">
                <div class="card-body">
                    <h5 class="card-title">NewAims Pharmaceuticals</h5>
                    <p class="card-text">A professional frontend website created for a pharmaceutical company, focusing on clean design and corporate branding.</p>
                    <hr>
                    <h6>Technologies Used:</h6>
                    <p class="card-text">
                        <span class="badge">HTML5</span>
                        <span class="badge">CSS3</span>
                        <span class="badge">JavaScript</span>
                        <span class="badge">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer-custom">
                    <a href="https://muhammadsouman7.github.io/newaims-pharmaceuticals/" target="_blank" class="btn btn-project w-100">View Project <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 animate-scroll">
            <div class="card card-custom h-100">
                <img src="{{ url_for('static', filename='assets/imgs/abbas-home.png') }}" class="card-img-top" alt="Abbas Yousaf Portfolio">
                <div class="card-body">
                    <h5 class="card-title">Abbas Yousaf's Portfolio</h5>
                    <p class="card-text">Guided a junior front-end developer in creating his portfolio site, focusing on responsive design and clean code. </p>
                    <hr>
                    <h6>Technologies Used:</h6>
                    <p class="card-text">
                        <span class="badge">HTML5</span>
                        <span class="badge">CSS3</span>
                        <span class="badge">JavaScript</span>
                        <span class="badge">TypedJS</span>
                        <span class="badge">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer-custom">
                    <a href="https://muhammadsouman7.github.io/abbas-yousaf-portfolio/" target="_blank" class="btn btn-project w-100">View Project <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>