{% extends 'base.html' %} {% block body %}
<canvas id="particle-canvas"></canvas> {% include 'navbar.html' %}
<!-- Main Container for all sections -->
<main class="container py-5 mt-5">
    <!-- Home Section -->
    {% include 'home.html' %}
    <!-- About Section -->
    {% include 'about.html' %}
    <!-- Services Section -->
    {% include 'services.html' %}
    <!-- Portfolio Section -->
    {% include 'portfolio.html' %}
    <!-- Contact Section -->
    {% include 'contact.html' %}
</main>
<!-- Footer -->
{% include 'footer.html' %} {% endblock body %}
